<%- include('./partials/header') %> <% if(success.length>0){ %>
<div
  id="flash-message"
  class="fixed top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 px-5 py-2 rounded-md bg-green-500"
>
  <span class="inline-block mt-1 mb-1 text-white"> <%= success %> </span>
</div>
<% } %> <% user.favourites.forEach(function(product){%>
<div class="w-full h-screen flex items-start px-20 py-20 gap-10">
  <div class="w-[30%] rounded-md overflow-hidden">
    <div
      class="w-full h-80 flex justify-center items-center bg-[<%= product.bgColor %>]"
    >
      <img
        class="h-[12rem]"
        src="data:image/jpeg;base64, <%= product.image.toString('base64') %>"
        alt=""
      />
    </div>
    <div
      class="w-full flex justify-between px-5 py-4 bg-[<%= product.panelColor %>]"
    >
      <h3 class="text-2xl"><%= product.name %></h3>
      <div class="flex items-center gap-2">
        <i
          class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"
        ></i>
        <div class="px-2 py-1 rounded-md bg-white text-black">01</div>
        <i
          class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"
        ></i>
      </div>
    </div>
    <div
      class="flex items-center justify-between px-5 text-[<%= product.textColor %>] py-3 bg-[<%= product.panelColor %>]"
    >
      <h4 class="text-lg">Net Total</h4>
      <h2 class="text-lg">₹ <%= product.price %></h2>
    </div>
  </div>
  <div class="w-[70%]">
    <h3 class="text-xl">Price Breakdown</h3>
    <div class="px-10 mt-5">
      <div class="flex mt-2">
        <h4 class="w-1/3">Total MRP</h4>
        <h4>₹ <%= product.price %></h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Discount on MRP</h4>
        <h4>₹ <%= Number(product.discount) %></h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Platform Fee</h4>
        <h4>₹ 20</h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Shipping Fee</h4>
        <h4>FREE</h4>
      </div>
    </div>
    <div class="w-full h-[1px] bg-black mt-10"></div>
    <div class="flex mt-5">
      <h3 class="w-1/3 text-xl">Total Amount</h3>
      <h3 class="font-semibold text-xl text-green-600">
        ₹ <%= (Number(product.price) - Number(product.discount) + 20) %>
      </h3>
    </div>
    <div class="flex items-center text-white justify-between mt-10 text-lg">
      <a
        href="/users/addtofavourite/<%= product._id %>"
        class="bg-red-600 px-5 py-2 rounded-3xl"
        >Remove from favoutite</a
      >
    </div>
  </div>
</div>

<%})%> <% if(user.favourites.length === 0){ %>
<div class="w-full h-screen flex flex-col items-center justify-center gap-3">
  <div class="text-center ">
    <i class="ri-shopping-cart-line text-gray-500 text-[150px]"></i>
  </div>
  <div class="text-center">
    <h3 class="text-3xl text-gray-600">Please add Something ...</h3>
  </div>
</div>
<% } %> <%- include('./partials/footer') %>
